@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-black text-foreground;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .font-display {
    font-family: 'Slackey', cursive;
  }
  
  /* KPow style overrides */
  .bg-cardBg {
    background-color: #1E1E1E;
  }
  
  .text-primary {
    color: #009EFA;
  }
  
  .bg-primary {
    background-color: #009EFA;
  }
  
  .text-secondary {
    color: #9333EA; /* Purple color from kpow.png */
  }
  
  .bg-secondary {
    background-color: #9333EA; /* Purple color from kpow.png */
  }
}